.recipes {
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 40px;
  margin: 80px auto 0;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
